[submodule "packages/evil"]
	path = evil
	url = https://github.com/emacs-evil/evil.git
[submodule "packages/which-key"]
	path = packages/which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "packages/aggressive-indent-mode"]
	path = packages/aggressive-indent-mode
	url = https://github.com/Malabarba/aggressive-indent-mode.git
[submodule "packages/centaur-tabs"]
	path = packages/centaur-tabs
	url = https://github.com/ema2159/centaur-tabs
[submodule "packages/powerline"]
	path = packages/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "packages/ranger"]
	path = packages/ranger
	url = https://github.com/ralesi/ranger.el.git
[submodule "packages/fzf"]
	path = packages/fzf
	url = git@github.com:andrwj/fzf.el.git
[submodule "packages/rg"]
	path = packages/rg
	url = https://github.com/dajva/rg.el.git
[submodule "packages/s"]
	path = packages/s
	url = https://github.com/magnars/s.el.git
[submodule "packages/wgrep"]
	path = packages/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "packages/transient"]
	path = packages/transient
	url = https://github.com/magit/transient.git
[submodule "packages/js2-mode"]
	path = packages/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "packages/rainbow-delimiters"]
	path = packages/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "packages/general"]
	path = packages/general
	url = https://github.com/noctuid/general.el.git
[submodule "packages/magit"]
	path = packages/magit
	url = https://github.com/magit/magit.git
[submodule "packages/dash"]
	path = packages/dash
	url = https://github.com/magnars/dash.el.git
[submodule "packages/with-editor"]
	path = packages/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "packages/flycheck"]
	path = packages/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "packages/lsp-mode"]
	path = packages/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode.git
[submodule "packages/treemacs"]
	path = packages/treemacs
	url = https://github.com/Alexander-Miller/treemacs.git
[submodule "packages/vimrc-mode"]
	path = packages/vimrc-mode
	url = https://github.com/mcandre/vimrc-mode.git
[submodule "packages/evil-multiedit"]
	path = packages/evil-multiedit
	url = https://github.com/hlissner/evil-multiedit.git
[submodule "packages/iedit"]
	path = packages/iedit
	url = https://github.com/victorhge/iedit.git
